<head/><md-dialog aria-label="Add a new book">

  <md-content class="dialog-content">


    <div ng-controller="addBookCtrl" layout="vertical">

      <h2>Add Book</h2>

      <md-content>
        <form style="padding: 20px;">
          <div class="row">
            <tf-float label="Title" value="book.title"> </tf-float>
            <tf-float label="Author" value="book.author"> </tf-float>
          </div>
          <div class="row">
            <tf-float label="Condition" value="book.condition" class="long"> </tf-float>
            <tf-float label="Edition" value="book.edition"> </tf-float>
          </div>
          <div class="row">
            <tf-float label="ISBN" value="book.isbn"> </tf-float>
          </div>
        </form>
      </md-content>

    </div>



  </md-content>

  <div class="dialog-actions">
    <span flex></span>
    <md-button ng-click="addBook()" class="md-theme-grey" center>
      Add Book
    </md-button>
  </div>

</md-dialog>
