<head/><md-dialog aria-label="Add a new book">

  <md-content class="dialog-content">


    <div ng-controller="addBookCtrl">
    		
    	<div layout="horizontal" ng-controller="typeAheadCtrl" style="display: flex; align-items: center; justify-content: center;">

    		

    		<div layout="vertical">
			      <h2>Add Book</h2>


			      <md-content>
			        <form style="padding: 25px;" flex>
			          <div class="row" style="width: 250px;">

			           
			         <!--    <md-input-group  ng-disabled="isDisabled"> 
			                <label for="title">Title</label>
			                <md-input id="inputSearch" type="text" ng-model="asyncSelected" 
			                typeahead-editable="false" 
			                typeahead="option as option['volumeInfo']['title'] | limitTo:25 for option in updateList($viewValue)"
			                typeahead-min-length='5'  
			                typeahead-on-select='onSelect(asyncSelected)'
			                style="width: 180px;">
			                
			              </md-input-group>

 -->


			              <div layout="horizontal">
			                	
			                		<md-input-group  ng-disabled="isDisabled"> 
				                		<label for="title">Title</label>
						                <md-input id="inputSearch" type="text" ng-model="asyncSelected" 
						                typeahead-editable="false" 
						                typeahead="option as option['volumeInfo']['title'] | limitTo:25 for option in updateList($viewValue)"
						                typeahead-min-length='5'  
						                typeahead-on-select='onSelect(asyncSelected)'
						                style="width: 180px;">
						                </md-input>
						            </md-input-group>
					            
			                <md-button class='glyphicon glyphicon-search' style='width: 30px; margin-top:45px;'></md-button>
			                </div>





			              <md-input-group ng-disabled="isDisabled"> 
			                <label for="author">Author</label>
			                <md-input id="author" ng-model="newBookProperties.author" style="width: 210px;">
			              </md-input-group>
			          </div>
			          <div class="row">
			            <md-input-group ng-disabled="isDisabled"> 
			              <label for="condition">Condition</label>
			              <md-input id="condition" ng-model="newBookProperties.condition" style="width: 210px;">
			            </md-input-group>
			            <md-input-group ng-disabled="isDisabled"> 
			              <label for="edition">Edition</label>
			              <md-input id="edition" ng-model="newBookProperties.edition" style="width: 210px;">
			            </md-input-group>
			          </div>
			          <div class="row">
			            <md-input-group ng-disabled="isDisabled"> 
			              <label for="isbn">ISBN</label>
			              <md-input id="isbn" ng-model="newBookProperties.isbn" style="width: 210px;">
			            </md-input-group>
			          </div>
			        </form>
			      </md-content>
			</div>



			<div><img ng-src="{{newBookProperties.image}}" style="max-width: 50%;" /></div> 
		</div> <!-- horizontal -->
    </div>



  </md-content>

  <div class="dialog-actions">
    <span flex></span>
    <md-button ng-click="addBookClicked()" class="md-raised" style="background:#455EDE; color:#FFFFFF" center>
     	Fly
    </md-button>
  </div>

</md-dialog>
