<md-content class="md-padding">
<div >
How to use the Flybrary
<hr>
In the main window, there are three tabs. You are able to view your Matches, Books, and Book Requests. 
As you add textbook requests and offers, lists will populate displaying your requests and offers. 
When a match for one of your requests/offers is made, the book will move from the requests/offers list into the matches list.
You will also be notified by email when a match is made. Replying to the email will get you in touch with your new found friend!
<hr>
My Matches
<hr>
In this tab, the matches you have are listed. 
<hr>
My Books
<hr>
Sharing is caring right? Add a book that you currently own into the Flybrary so that others near you can request that book! <br>
If you have troubles finding a book when searching for it, try punching in the ISBN of the book.
<hr>
My Requests
<hr>
Looking for a particular textbook? Add a book request in this tab to match up with other Flybrarians in your area that have your book.

<hr>
Contact Us
<br>
We appreciate your feedback!<br>
team.flybrary@gmail.com
</div>
</md-content>