<md-content class="md-padding">
<div >
 <div layout="vertical" layout-align="center center">
 <i class="fa fa-lightbulb-o fa-3x" style="color:black;"></i>
 <h4 class="helvetica-neue-style">How to use the Flybrary</h4>
</div>
<md-divider></md-divider>
In the main window, there are three tabs. You are able to view your Matches, Books, and Book Requests. 
As you add textbook requests and offers, lists will populate displaying your requests and offers. 
When a match for one of your requests/offers is made, the book will move from the requests/offers list into the matches list.
You will also be notified by email when a match is made. Replying to the email will get you in touch with your new found friend!
<md-divider></md-divider>
  <div layout="vertical" layout-align="center center">
    <i class="fa fa-comments fa-3x" style="color:black;padding-top:5px"></i>
    <h2 class="dancing-style" style="color:black;">Contact Us</h2>
    <p class="helvetica-neue-style">
      <a href="mailto:team.flybrary@gmail.com" target="_top">team.flybrary@gmail.com</a>
    </p>
  </div>
</div>
</md-content>