<!-- Nav -->
    <nav id="nav">
      <ul class="container">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About us</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>

  <!-- Home -->
    <div class="wrapper style1 first">
      <article class="container" id="home">

        <div class="row">
          <div class="4u">
            <span class="icon featured_book fa-book">
          </div>
          <div class="8u">
            <header>
              <h1><strong>Flybrary</strong></h1>
              <h3><strong>The textbook Sharing Network, on the fly.<strong></h3>
            </header>
              <a class="btn btn-block btn-social btn-google-plus" ng-click="login()">
                <i class="fa fa-google-plus"></i> Sign in with Google
              </a>
            </div>
          </div>
        </div>
      </article>
    </div>

  <!-- Work -->
    <div class="wrapper style2">
      <article id="about">
        <header>
          <span class="icon featured fa-circle-o-notch"></span>
          <h1>What is the Flybrary?</h1>
        </header>
        <div class="container">
          <div class="row">
            <div class="100u">
              <section class="box style1">
                <h3>A Sharing network for students.</h3>
                <p>Share textbooks on the fly with the flybrary! The only rule is everything is free, post books you don't use anymore and share them with fellow students. Post want ads of books that you do want.</p>
              </section>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- Contact -->
    <div class="wrapper style4">
      <article id="contact" class="container">
        <header>
          <span class="icon featured fa-comments">
          <h1>Contact us</h1>
          <h2>The Flybrary Team</span></h2>
          <h3><a href="mailto:team.textshare@gmail.com" target="_top">team.textshare@gmail.com</a></h3>
        </header>
        <!--
        <div>
          <div class="row">
            <div class="12u">
              <form method="post" action="#">
                <div>
                  <div class="row">
                    <div class="6u">
                      <input type="text" name="name" id="name" placeholder="Name" />
                    </div>
                    <div class="6u">
                      <input type="text" name="email" id="email" placeholder="Email" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="12u">
                      <input type="text" name="subject" id="subject" placeholder="Subject" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="12u">
                      <textarea name="message" id="message" placeholder="Message"></textarea>
                    </div>
                  </div>
                  <div class="row double">
                    <div class="12u">
                      <ul class="actions">
                        <form method="post" action="mailto:jordan.m.lerner@gmail.com" >
                        <input type="submit" value="Send Email" />
                        </form>
                        <li><input type="reset" value="Clear Form" class="alt" /></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        -->

        <!--
          <div class="row">
            <div class="12u">
              <hr />
              <h3>Find us on ...</h3>
              <ul class="social">
                <li><a href="https://www.facebook.com/pages/Night-Day-Revival/257308727772191" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="http://instagram.com/nightdayrevival" class="icon fa-instagram"><span class="label">LinkedIn</span></a></li>


                <li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
                <li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
                <li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
                <li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
                <li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
                <li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
                <li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
                <li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>

              </ul>
              <hr />
            </div>
          </div>
        </div>
      -->
