
<nav id="nav">
  <ul>
    <li><a href="#login-container" scroll-on-click>Home</a></li>
    <li><a href="#about-container" scroll-on-click>About</a></li>
    <li><a href="#contact-container" scroll-on-click>Contact Us</a></li>
  </ul>
</nav>
<div id="login-container" flex layout="vertical" layout-align="center center">
  <div class="center-box" layout="vertical" layout-align="center center">
    <div flex layout="horizontal" layout-align="center center">
      <i class="fa fa-book" id="book-logo"></i>
      <h1 class="app-title">Flybrary</h1>
    </div>
    <div flex layout="vertical" layout-align="center center">
      <div >
        <h2 class="helvetica-neue-style sub-title">Share textbooks, on the fly.</h2>
      </div>
      <div>
        <button class="btn btn-google-plus" ng-click="login()"><i class="fa fa-google-plus"></i> | Login with Google</button>
      </div>
    </div>
  </div>
</div>
<div id="about-container" flex layout="vertical" layout-align="center center">
  <div class="about-center-box" layout="vertical" layout-align="center center">
    <div class="about-content" layout="vertical" layout-align="center center">
      <i class="fa fa-lightbulb-o" id="lightbulb-header"></i>
      <h1 class="dancing-style">What is the Flybrary?</h1>
      <h2 class="helvetica-neue-style sub-title" style="color:black">A Sharing network for students.</h2>
      <h3 class="helvetica-neue-style content-style">The flybrary connects students to share textbooks. Add a book and we do the searching for you to match you up.
      </h3>
      <h2 class="helvetica-neue-style sub-title" style="color:black">How does it work?</h2>
      <h3 class="helvetica-neue-style content-style">Easily make a request for a textbook that you want. Done with a textbook? Offer a textbook so that you can share it with a friend you haven’t met yet. 
        How do you trade? You decide, discuss it with your match through email. Don’t worry, all your information is private.
      </h3>
    </div>
  </div>
</div>
<div id="contact-container" flex layout="vertical" layout-align="center center">
  <div class="center-box" layout="vertical" layout-align="center center">
    <i class="fa fa-comments" style="color:white;" id="comment-header"></i>
    <h1 class="dancing-style" style="color:white;">Contact Us</h1>
    <h3 class="helvetica-neue-style" style="font-size:2.2em;">
      <a href="mailto:team.flybrary@gmail.com" target="_top">team.flybrary@gmail.com</a>
    </h3>
  </div>
</div>