<nav id="nav">
  <ul>
    <li><a href="#login-container">Home</a></li>
    <li><a href="#about-container">About</a></li>
    <li><a href="#contact-container">Contact Us</a></li>
  </ul>
</nav>

<div layout-fill layout="horizontal" id="login-container">
  <div class="center-box">
    <div layout="vertical" layout-md="horizontal" layout-lg="horizontal">
      <i class="fa fa-book" id="book-logo"></i>
      <h1 id="app-title">Flybrary</h1>
    </div>
    <h2 class="roboto-style">The textbook sharing network, on the fly.</h2>
  <div>
     <button class="btn btn-google-plus" ng-click="login()"><i class="fa fa-google-plus"></i> | Login with Google</button>
   </div>


  </div>
</div>
<div layout-fill layout="horizontal" id="about-container">
  <div class="center-box">
    <i class="fa fa-circle-o-notch" id="logo-headers"></i>
    <h1 class="dancing-style">What is the flybrary?</h1>
    <h2 class="roboto-style">A Sharing network for students.</h2>
    <h3 class="roboto-style">Share textbooks on the fly with the flybrary! The only rule is everything is free, post books you don't use anymore and share them with fellow students. Post want ads of books that you do want.</h3>
    <div>

    </div>
  </div>
</div>
<div layout-fill layout="horizontal" id="contact-container">
  <div class="center-box">
    <i class="fa fa-comments" id="logo-headers"></i>
    <h1 class="dancing-style" style="color:white">Contact Us</h1>
    <h2 class="roboto-style" style="color:white">The Flybrary Team</h2>
    <h3 class="roboto-style" style="color:white">
      <a href="mailto:team.textshare@gmail.com" target="_top">team.textshare@gmail.com</a>
    </h3>
    <div>

    </div>
  </div>
</div>
