<section layout="horizontal" layout-fill ng-controller="mainCtrl" flex>
    <md-sidenav ng-if="!mobileCheck()" class="md-sidenav-left md-whiteframe-z1" component-id="left"
     layout="vertical" style="max-width:251.016px !important;" is-locked-open="true">
            <div ng-include="'views/preferences.html'" layout="vertical" flex></div>  
    </md-sidenav>
    
    <div layout="vertical" layout-fill tabindex="-1" role="main" class ="tab-bar-styling">
        <md-toolbar class="md-primary app-toolbar" style="z-index:3">
            <div class="md-toolbar-tools" tabindex="0" layout="horizontal" layout-align="space-between">
              <i ng-if="mobileCheck()" class="fa fa-navicon" class="nav-icon" style="color:white; cursor:pointer" ng-click="toggleRight()"></i>
              <div id="dancing-style-menutab" flex style=" color:white">
                <img style='padding-bottom:8px;' src="images/logo1.png">Flybrary
              </div>
            </div>
        </md-toolbar>
        <md-toolbar class="md-primary md-whiteframe-z1">
            <div class="md-toolbar-tools" style="margin-bottom: 10px" style="z-index:3">
                <md-tabs selected="tabs.selectedIndex" layout="horizontal" layout-align="start start">
                    <md-tab class="helvetica-neue-style" label="My Matches"></md-tab>
                    <md-tab class="helvetica-neue-style" label="My Books"></md-tab>
                    <md-tab class="helvetica-neue-style" label="My Requests"></md-tab>
                </md-tabs>
            </div>
        </md-toolbar>

        <md-content ng-controller="BookListCtrl" class="tab-bar-styling">
            <md-whiteframe class="md-whiteframe-z1" layout style="background: #f9f9f9; z-index:2;">    
                <div layout flex class="animate-switch-container" ng-switch on="$root.currentTab" >
                    <div layout flex class="animate-switch"
                        ng-switch-when="offers"
                        md-swipe-left="next()"
                        md-swipe-right="previous()"
                    >
                    <div layout="vertical" flex ng-include="'views/offers.html'"></div>
                    </div>
                    <div layout flex class="animate-switch"
                        ng-switch-when="requests"
                        md-swipe-left="next()"
                        md-swipe-right="previous()"
                    >
                        <div layout="vertical" flex ng-include="'views/requests.html'"></div>
                    </div>
                    <div layout flex class="animate-switch"
                        ng-switch-when="matches"
                        md-swipe-left="next()"
                        md-swipe-right="previous()"
                    >
                        <div layout="vertical" flex ng-include="'views/matches.html'"></div>
                    </div>
                </div>
            </md-whiteframe>
            <div layout-padding>
            </div>
            
            <div ng-if="'matches' != $root.currentTab" layout="horizontal" layout-align="end start" style="position:relative">
                <md-button md-theme="pink" class="md-fab md-primary" ng-click="dialog($event, 'any')" style="position: relative; right:5px;">
                    <i class="fa fa-plus fa-lg" style="color:white"></i>
                    <md-tooltip>
                        {{$root.addbooktype}}
                    </md-tooltip>
                </md-button>
            </div>
        </md-content>
    </div>
</section>