<section ng-controller="locCtrl" layout-fill flex layout='vertical' class="subtle-gray-background">

	  	<p class="settings-label">
	    	Settings
	   	</p>
	   	<div class="map-container">
		<map 
			center="{{loc.lat}},{{loc.lon}}" 
			zoom="{{loc.zoom}}"
			street-view-control="false" 
			style="height:250px"
			layout-fill
			flex
			>
			<shape id="circle" name="circle" stroke-color="#3F51B5" fill-color="#7986CB"
		      stroke-opacity="0.8" stroke-weight="2" 
		      center="[{{loc.lat}},{{loc.lon}}]" radius="{{loc.radius}}" editable="false" >
		    </shape> 
		</map>
	</div>

	   	<p class="search-radius">Search Radius:</p>
	    <md-slider discrete ng-model="loc.sliderRadius"  step="5" min="5" max="30"></md-slider>
	    <div flex layout='vertical' layout-align='center center'>
	    	<md-button ng-click="getLoc()"  class="md-raised md-primary" flex> Update Location 
	    		<i class="fa fa-location-arrow location-arrow"></i>
	    	</md-button>
	  	</div> 
	  	<div class="logout-bar-mobile" ng-show="!showInfo" flex layout='vertical' layout-align='center center'>
		<md-button class="md-raised" ng-click="logout()"> Logout
	    	<i class="fa fa-power-off"></i>
		</md-button>
	</div>
</section>