<div ng-controller="sideTabCtrl as tab">
	<md-toolbar class="md-primary preferences-toolbar md-whiteframe-z1">
		<div style="padding-top:1em;padding-bottom:0.5em;font-size:0.6em;text-align:center;">Logged in as: {{name}}</div>
		<md-button style="font-size:0.6em" ng-click="logout()" > Logout
		    <i class="fa fa-power-off"></i>
		</md-button>
		<md-button style="font-size:0.6em" ng-click="tab.setTab(1)" > Info
		    <i class="fa fa-info-circle"></i>
		</md-button>
		<md-button style="font-size:0.6em" ng-click="tab.setTab(2)" > Map
		    <i class="fa fa-map-marker"></i>
		</md-button>
	</md-toolbar>

	<section flex ng-show="tab.isSet(1)" ng-include="'views/info.html'"></section>
	
		<section ng-show="tab.isSet(2)" flex ng-include="'views/map.html'"></section>	
	
</div>
