<md-list>
    <md-item ng-repeat="book in bookList | orderBy:orderProp | isMatch track by book.key">
        <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{book.image}}" class="img">
            </div>
            <div class="md-tile-content">
                <h3>{{book.title}}</h3>
                <h4><i>{{book.author}}</i></h4>
                 <md-button class="glyphicon glyphicon-trash btn-lg" style="position: absolute; right: 10px;" ng-click="unmatchBook(book)">
                 	<md-tooltip>
	         		    Unmatch
	        		</md-tooltip>
                 </md-button>
            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>
<div ng-if="num_matches == 0" class="more-books">
    You don't have any matches yet. Get some more by <a ng-click="dialog($event, 'offers')">offering up</a> some books, or <a ng-click="dialog($event,'requests')">requesting</a> some for yourself!
</div>