<md-toolbar class="md-theme-dark md-medium-tall"  style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
  <div class="md-toolbar-tools">Priorities</div>
</md-toolbar>
<md-content layout="vertical" flex layout-align="space-between">
     <section ng-include="'views/map.html'">
     </section>
    <footer>
        <md-divider></md-divider>
        <section layout="vertical" flex layout-align="center center">
            <md-button ng-click="logout()"  style="background: #FF0000; color:#FFFFFF">
                Logout
            </md-button>
        </section>
    </footer>
</md-content>