<md-list flex>
    <md-item ng-repeat="book in bookList | orderBy:orderProp | isOffer track by book.key ">
        <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{book.image}}" class="img">
            </div>
            <div class="md-tile-content">
                <h3>{{book.title}}</h3>
                <h4><i>{{book.author}}</i></h4>
                <md-button class="glyphicon glyphicon-trash btn-lg" style="position: absolute; right: 10px;" ng-click="deleteBook(book)">
	                <md-tooltip>
	         		 	Delete
	        		</md-tooltip>
                </md-button>
            </div>
            
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>

<div ng-if="num_offers == 0" class="more-books">
    You don't seem to have any books up for offer. <a ng-click="dialog($event, 'offers')">Offer more books</a> to get more matches!
</div>