<md-toolbar class="md-theme-dark md-medium-tall preferences-toolbar">
  <div class="md-toolbar-tools roboto-style-sidebar-title">Preferences</div>
</md-toolbar>
<md-content layout="vertical" flex layout-align="space-between">
     <section ng-include="'views/map.html'">
     </section>
    <footer>
        <md-divider></md-divider>
        <section layout="vertical" flex layout-align="center center">
            <md-button ng-click="logout()"  style="background: #FF0000; color:#FFFFFF">
                Logout
            </md-button>
        </section>
    </footer>
</md-content>