<md-toolbar class="md-primary preferences-toolbar md-whiteframe-z1">
		<div layout="row" layout-align="end">
			<i style="padding-top:5px" ng-class="showInfo ? 'instructions-icon fa fa-close' : 'instructions-icon fa fa-info-circle'"
			 class="fa fa-lg" ng-click="showInfo = !showInfo"></i>
		</div>	

<div layout="row" flex style="padding-top:0.5em;padding-bottom:0.5em; padding-left:0.5em;font-size:1.2em" layout-aling="center center">
        <img ng-src="{{picture}}" class="img2">
        {{name}}
    </div>
	
</md-toolbar>
<md-content flex ng-show="showInfo" ng-include="'views/info.html'"></md-content >
<md-content  ng-show="!showInfo" flex ng-include="'views/map.html'"></md-content >	
<div ng-show="!showInfo" flex layout='vertical' layout-align='center center' style="padding-top:15px;">
	<md-button class="md-raised" ng-click="logout()"> Logout
	    <i class="fa fa-power-off"></i>
	</md-button>
</div>