<md-toolbar class="md-primary preferences-toolbar md-whiteframe-z1">
		<div layout="row" layout-align="end">
			<!--<i ng-if="mobileCheck()" class="fa fa-arrow-left" style="color:white;padding-top:10px;" 
				ng-click="toggleLeft()"></i> -->
			<i ng-class="showInfo ? 'instructions-icon-on fa-map-marker' : 'instructions-icon-off fa-info-circle'"
			 class="fa fa-lg" ng-click="showInfo = !showInfo"></i>
		</div>	

	<div class="md-tile-left"style="padding-top:0.5em;padding-bottom:0.5em;font-size:1.2em;text-align:center;">
        <img ng-src="images/logo_image_mobile.png" class="img2">
        {{name}}
    </div>
	
</md-toolbar>
<md-content flex ng-show="showInfo" ng-include="'views/info.html'"></md-content >
<md-content  ng-show="!showInfo" flex ng-include="'views/map.html'"></md-content >	
<div ng-show="!showInfo" flex layout='vertical' layout-align='center center' style="padding-top:15px;">
	<md-button class="md-raised" ng-click="logout()"> Logout
	    <i class="fa fa-power-off"></i>
	</md-button>
</div>