<section layout="vertical" layout-fill>
	<md-toolbar ng-controller="mainCtrl" class="app-toolbar" layout="horizontal" layout-align="space-between">
		<div class="md-toolbar-tools" >
			<i ng-if="mobileCheck()" class="fa fa-arrow-left" style="color:white; padding-top:10px" ng-click="toggleLeft()"></i>
			<md-button ng-if="mobileCheck()" class="helvetica-neue-style-sidebar-title" ng-click="toggleLeft()" style="padding-right:40px">
		    	Settings
	        </md-button>
	        <md-button ng-if="!mobileCheck()" class="helvetica-neue-style-sidebar-title" style="padding-right:25px">
		    	Settings
		    </md-button>
		</div>
		<div style="font-size:0.6em;text-align:center;">Logged in as: {{name}}</div>
		<md-button style="font-size:0.6em" ng-click="logout()">Logout
						<i class="fa fa-power-off"></i>
					</md-button>
	</md-toolbar>
	<md-content layout="vertical" layout-align="space-around">
		<section flex ng-include="'views/map.html'"></section>		
	</md-content>
</section>