<md-toolbar class="md-primary md-medium-tall preferences-toolbar md-whiteframe-z1">
	<div class="md-toolbar-tools" ng-controller="mainCtrl">
		<i ng-if="mobileCheck()" class="fa fa-arrow-left" style="color:white; padding-top:10px" ng-click="toggleLeft()"></i>
		<md-button ng-if="mobileCheck()" class="helvetica-neue-style-sidebar-title" ng-click="toggleLeft()" style="padding-right:40px">
	    	Settings
        </md-button>
        <md-button ng-if="!mobileCheck()" class="helvetica-neue-style-sidebar-title" style="padding-right:25px">
	    	Settings
        </md-button>
	</div>
</md-toolbar>
<md-content layout="vertical" layout-align="space-between" >
	<section flex ng-include="'views/map.html'"></section>
	<footer class="subtle-gray-background">
		<md-card class="white-background-coloring">
			<div flex layout='vertical' layout-align='center center'>
				<md-button class="md-raised" ng-click="logout()">Logout
					<i class="fa fa-power-off"></i>
				</md-button>
			</div>
		</md-card>
	</footer>
</md-content>