 <md-list flex>
    <md-item ng-repeat="book in bookList | orderBy:orderProp | isRequest track by book.key">
        <md-item-content ng-click="expand(book)" ng-hide='book.hiden'>
            <div class="md-tile-left">
                <img ng-src="{{book.image}}" class="img">
            </div>
            <div class="md-tile-content">
                <h3>{{book.title}}</h3>
                <h4><i>{{book.author}}</i></h4>
                <h4 ng-if="book.edition > 3">{{book.edition}}th. Edition</h4>
                <h4 ng-if="book.edition == 1">{{book.edition}}st. Edition</h4>
                <h4 ng-if="book.edition == 2">{{book.edition}}nd. Edition</h4>
                <h4 ng-if="book.edition == 3">{{book.edition}}rd. Edition</h4>
                <div layout='vertical' style='padding-top:10px;' ng-show='book.clicked'>
	                <h3><b>Additional Details</b></h3>
	                <h4 ng-if="book.condition == 1"><b>Condition:</b> Mint</h4>
	                <h4 ng-if="book.condition == 2"><b>Condition:</b> Some wear'n'tear</h4>
	                <h4 ng-if="book.condition == 3"><b>Condition:</b> Been "loved"</h4>
	                <h4 ng-if="book.condition == 4"><b>Condition:</b> Any</h4>
	                <h4><b>Added on:</b> {{book.addDate}}</h4>
	                <h4><b>Status:</b> Waiting for an offer!</h4>
	            </div>
	            <i class="fa fa-angle-down fa-lg" ng-show='!book.clicked' style="color:black; position:absolute; right: 50%; top:86%"></i>
	            <i class="fa fa-angle-up fa-lg" ng-show='book.clicked' style="color:black; position:absolute; right: 50%; top:86%"></i>
                <md-button class="glyphicon glyphicon-trash btn-lg" style="position: absolute; right: 1%;" ng-click="deleteBook(book)">
            	    <md-tooltip>
	         			Delete
	        		</md-tooltip>
	        	</md-button>
            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>
<div ng-if="num_requests == 0" class="more-books">
    We can't find you any books if you don't want any! <a ng-click="dialog($event, 'requests')">Request more books</a> so we can find you some
</div>