 <md-list flex>
    <md-item ng-repeat="book in bookList | orderBy:orderProp | isRequest track by book.key">
        <md-item-content ng-hide='book.hiden'>
            <div class="md-tile-left">
                <img ng-src="{{book.image}}" class="img">
            </div>
            <div class="md-tile-content">
                <h3>{{book.title}}</h3>
                <h4><i>{{book.author}}</i></h4>
                <md-button class="glyphicon glyphicon-trash btn-lg" style="position: absolute; right: 10px;" ng-click="deleteBook(book)">
            	    <md-tooltip>
	         			Delete
	        		</md-tooltip>
	        	</md-button>
            </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
    </md-item>
</md-list>
<div ng-if="num_requests == 0" class="more-books">
    We can't find you any books if you don't want any! <a ng-click="dialog($event, 'requests')">Request more books</a> so we can find you some
</div>