
material-dialog {
  min-width: 50%;
}

.img {
    border-radius: 30px;
    border:1px solid #021a40;
    width: 48px;
    height:48px;
    margin: 16px;
}

md-button:not(.md-button-fab) {
  width: 10em;
}

md-button.glyphicon {
  width: auto;
  padding: 10px;
  padding-bottom: 0;
}

.small-btns md-button {
	width: auto;
	padding: 10px;
	padding-bottom: 0;
	font-size: 32px;
}

section md-button {
  display: inline-block;
  margin: 1em;
  line-height: 25px;
}
md-tab:focus {
  border:none;
}
section.tabs-header {
  min-width: 372px;
  max-width: 372px;
}
md-button:not([disabled]):hover, md-button:not([disabled]).focus {
  background-color: rgba(228, 228, 228, 0.3);

}

md-input-group, .md-input-group {
	
	margin-right:15px
}