
/* Space out content a bit */
material-dialog {
  min-width: 50%;
}

.img {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height:48px;
    margin: 16px;
}

.background {
  background-image:url('../images/bg.png');
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */


.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.buttondemoBasicUsage {
  /** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  .buttondemoBasicUsage section md-button:not(.md-button-fab) {
    width: 10em; }
  .buttondemoBasicUsage section md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.loginBox{
/*border: 1px solid #ddd;*/
  background-size: 100% 100%;
  background-color:grey;
vertical-align: middle;
display: inline-block;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: 30 px;

}


.animate-switch-container {
  position:relative;

  width: 100%;
  height:100%;
  overflow:hidden;
}


.first {

  height: 100%;
  width: 100%;

  background-size: 100% 100%;
  background-image:url('../images/bg.jpg');

}
