/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */


.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.buttondemoBasicUsage {
  /** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  .buttondemoBasicUsage section md-button:not(.md-button-fab) {
    width: 10em; }
  .buttondemoBasicUsage section md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*.animate-switch-container {
  position:relative;
  width: 100%;
  height:100%;
  overflow:hidden;
}*/


.first {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

.center-box {
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  height: 300px;
}

.about-center-box {
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  height: 300px;
}

#login-container {
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-size: 100%;
  background-color: #3f51b5;
}

#about-container {
  background-repeat: repeat;
  background-image: url('../images/swirl_pattern.png');
  height: 800px;
  width: 100%;
  background-color: #FAFAFA;
}

.about-content {
  background: #F9F9F9;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
  text-align: center;
  padding:0.1em 2em 1em 2em;
}

#contact-container {
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-size: 100%;
  background-color: #303030;
}


.app-title{
  color: white;
  font-family:'Dancing Script';
  font-size: 10em;
}

#book-logo {
  color: white;
  font-size: 10em;
  margin-top: 0.25em;
  margin-right: 0.25em;
}

.login-button-container {
  margin-left: 160px;
  margin-top: 10px;
}

.sub-header-container {
  margin: auto 0;
  margin-left: 80px;
}

#lightbulb-header {
  color:#000;
  font-size: 8em;
  margin-top: 20px;
}

#comment-header {
  color:#000;
  font-size: 8em;
  margin-bottom: 0.2em;
  margin-left:200px;
}

@media (max-width: 800px) {
  .app-title{
    color: white;
    font-family:'Dancing Script';
    font-size: 6em;
    margin-left:5px;
  }

  #book-logo {
    color: white;
    font-size: 6em;
    margin-top: 0.25em;
    margin-right: -6px;
  }
  .title-container {
    margin-left: 90px;
  }
  .sub-header-container {
    margin: auto 0;
    margin-left: 80px;
  }

.about-center-box {
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 300px;
  }
}

.tab-bar-styling {
  background-repeat: repeat;
  background-image: url('../images/swirl_pattern.png');
  min-height: 100%;
  background-color: #FAFAFA;
}

#book-logo2 {
  color: #000;
  font-size: 1em;
  margin-top: 0.25em;
  margin-right: 0.25em;
}

#nav-icon {
  color: #000;
  font-size: 2em;
  margin-top: 0.25em;
  margin-right: 0.25em;
  padding-bottom: 12px;
}

#nav-icon:hover
{
  color: #CCFFCC !important;
  cursor: default;
}

.dancing-style{
  color: #000000;
  font-family:'Dancing Script';
}

.helvetica-neue-style{
	font-family:Helvetica Neue;
}

.helvetica-neue-style-sidebar-title{
  color: #fff;
  font-family:Helvetica Neue;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-left: 1.2em;
  width:5em;
}

.subtle-gray-background{
	background-color:#F9F9F9;
}

.white-background-coloring{
	background-color:white;
}

#dancing-style-menutab{
  color: #000000;
  font-family:'Dancing Script';
  font-size: 2.5em;
  font-weight: 900;
  width:220px;
}

h1.dancing-style{
  font-size: 3.5em;
}

#top-bar {
  margin-left: auto;
  margin-right: auto;
  /* width: (containers) */
  width: 1200px;
}

#nav
{
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;
}

  #nav ul
  {
    margin-bottom: 0;
  }

  #nav li
  {
    display: inline-block;
  }

  #nav a
  {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;

    padding: 0.4em 1.2em 0.4em 1.2em;
      margin: 0.6em 0.2em 0.6em 0.2em;
      font-weight: 600;
      border-radius: 8px;
      -moz-transition: background-color .2s ease-in-out;
      -webkit-transition: background-color .2s ease-in-out;
      -o-transition: background-color .2s ease-in-out;
      -ms-transition: background-color .2s ease-in-out;
      transition: background-color .2s ease-in-out;
  }

    #nav a:hover
    {
      background-color: #484848 !important;
    }

    #nav a.active:before
    {
      content: '';
      display: block;
      position: absolute;
      bottom: -0.6em;
      left: 50%;
      margin-left: -0.75em;
      border-left: solid 0.75em transparent;
      border-right: solid 0.75em transparent;
      border-top: solid 0.6em #282828;
    }
