/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */


.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.buttondemoBasicUsage {
  /** From vulcanized demo **/ }
  .buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
  .buttondemoBasicUsage md-content {
    margin-right: 7px; }
  .buttondemoBasicUsage section md-button:not(.md-button-fab) {
    width: 10em; }
  .buttondemoBasicUsage section md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
  .buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.animate-switch-container {
  position:relative;
  width: 100%;
  height:100%;
  overflow:hidden;
}


.first {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
}

#login-container {
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  background-color: #38596B;
}

#about-container {
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  background-color: #FAFAFA;
}

#contact-container {
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
  background-color: #303030;
}


.center-box {
  margin: 2em auto;
  width: 540px;
  height:300px;
  text-align: center;
  background-color: rgba(66, 74, 137, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 40px;
}

.about-content {
  background: #fff;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.15), 0px 2px 3px 0px rgba(0,0,0,0.1);
  text-align: center;
  padding:0.1em 2em 1em 2em;
}


#app-title{
  color: #000000;
  font-family:'Dancing Script';
  font-size: 10em;
}

#book-logo {
  color: #000;
  font-size: 10em;
  margin-top: 0.25em;
  margin-right: 0.25em;
}

#book-logo2 {
  color: #000;
  font-size: 1em;
  margin-top: 0.25em;
  margin-right: 0.25em;
}

#nav-icon {
  color: #000;
  font-size: 2em;
  margin-top: 0.25em;
  margin-right: 0.25em;
  padding-bottom: 12px;
}

#nav-icon:hover
{
  color: #CCFFCC !important;
  cursor: default;
}

#logo-headers {
  color:#000;
  font-size: 8em;
  margin-bottom: 0.2em;
}


.roboto-style{
  color: #000000;
  font-family:'Roboto';
}

.roboto-italic-light-style{
  color: #000000;
  font-family:'Roboto';
  font-style:italic;
  font-weight:lighter;
}

.dancing-style{
  color: #000000;
  font-family:'Dancing Script';
}
.indie-flower-style {
  font-family:'Indie Flower';
}

.roboto-style-sidebar-title{
  color: #fff;
  font-family:'Roboto';
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-left: 1.2em;
  width:5em;
}

#dancing-style-menutab{
  color: #000000;
  font-family:'Dancing Script';
  font-size: 2.5em;
  font-weight: 900;
  width:220px;
}

h1.dancing-style{
  font-size: 3.5em;
}

h2.roboto-style{
  font-size:2.2em;
}

.login-options{
  color: #222;
  font-size: 14px;
  text-align: center;
}

/* from james */

material-dialog {
  min-width: 50%;
}

.img {
    border-radius: 30px;
    border: 0.5px solid #ddd;
    width: 48px;
    height:48px;
    margin: 16px;
}

md-button:not(.md-button-fab) {
  width: 10em;
}

md-button.glyphicon {
  width: auto;
  padding: 10px;
  padding-bottom: 0;
}

section md-button {
  display: block;
  margin: 1em;
  line-height: 25px;
}
md-tab:focus {
  border:none;
}
section.tabs-header {
  min-width: 372px;
  max-width: 372px;
}
md-button:not([disabled]):hover, md-button:not([disabled]).focus {
  background-color: rgba(228, 228, 228, 0.3);

}

#top-bar {
  margin-left: auto;
  margin-right: auto;
  /* width: (containers) */
  width: 1200px;
}

#nav
{
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  cursor: default;
}

  #nav ul
  {
    margin-bottom: 0;
  }

  #nav li
  {
    display: inline-block;
  }

  #nav a
  {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;

    padding: 0.4em 1.2em 0.4em 1.2em;
      margin: 0.6em 0.2em 0.6em 0.2em;
      font-weight: 600;
      border-radius: 8px;
      -moz-transition: background-color .2s ease-in-out;
      -webkit-transition: background-color .2s ease-in-out;
      -o-transition: background-color .2s ease-in-out;
      -ms-transition: background-color .2s ease-in-out;
      transition: background-color .2s ease-in-out;
  }

    #nav a:hover
    {
      background-color: #484848 !important;
    }

    #nav a.active:before
    {
      content: '';
      display: block;
      position: absolute;
      bottom: -0.6em;
      left: 50%;
      margin-left: -0.75em;
      border-left: solid 0.75em transparent;
      border-right: solid 0.75em transparent;
      border-top: solid 0.6em #282828;
    }
