.img2 {
    width: 36px;
    height:36px;
}

.instructions-icon-off {
  color:white;
  padding-top:10px;
  padding-right:10px;
  font-size: 1em;
}

.instructions-icon-off:hover {
  color:#3A96C2;
}

.instructions-icon-on {
  color:white;
  padding-top:10px;
  padding-right:10px;
  font-size: 1em;
}

.instructions-icon-on:hover {
  color:#3A96C2;
}

.instructions {
  padding-left: 0.2em;
}

.active-user {
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-size:1.2em;
  text-align:center;
}

.active-user-mobile {

  font-size:0.6em;
  font-size:1.2em;
  text-align:center;
}

