.img2 {
    border-radius: 30px;
    border:1px solid #021a40;
    width: 36px;
    height:36px;
}

.instructions-icon {
  color:white;
  padding-top:10px;
  padding-right:10px;
  font-size: 1em;
}

.instructions-icon-selected {
  text-shadow: 2px 2px 5px #000000;
}

.instructions-icon:hover {
  color:#3A96C2;
  cursor: pointer;
}

.instructions {
  padding-left: 0.2em;
}

.active-user {
  padding-top:0.5em;
  padding-bottom:0.5em;
  font-size:1.2em;
  text-align:center;
}

.active-user-mobile {

  font-size:0.6em;
  font-size:1.2em;
  text-align:center;
}

