<!doctype html>
<!-- <html class="no-js" class="ng-scope"> -->
<html lang="en" ng-app="textChangrApp" class="ng-scope">
  <head>
    <meta charset="utf-8">
    <title>TextChangr</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
    <link   rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/hammerjs/hammer.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

</head>
<body layout="horizontal">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

     <div class="animate-switch-container" layout-fill ng-controller="pageCtrl" ng-switch on="loggedIn"  >
            <div class="animate-switch first" layout-fill ng-switch-when="0">
                          
                <div id="wrapper">
                    <div class="join">TextChangr</div>
                    <div class="clr"></div>
                    <div> <google-plus-signin clientid="642821490386-5e5tfhghkcvsmjauaeu0mbnlrnjnl30n.apps.googleusercontent.com"></google-plus-signin></div>
                    <div class="clr"><hr /></div>   
                </div>
             </div>

        <div class="animate-switch" layout-fill ng-switch-when="1" style="width: 100%;">
            <section layout="horizontal" layout-fill ng-controller="SidebarController" flex>
                <md-sidenav class="md-sidenav-left md-whiteframe-z1" style="z-index:8" component-id="left"  layout="vertical" class="md-sidenav-left">
                    <md-toolbar class="md-theme-dark md-medium-tall">
                      <div class="md-toolbar-tools">Priorities</div>
                    </md-toolbar>
                    <md-content layout="vertical" flex layout-align="space-between">
                         <md-content>
                         </md-content>
                        <footer>
                            <md-divider></md-divider>
                            <section layout="vertical" flex layout-align="center center">
                                <md-button ng-click="logout()">
                                    Logout
                                </md-button>
                            </section>
                        </footer>
                    </md-content>
                </md-sidenav>

                <div layout="vertical" layout-fill="" tabindex="-1" role="main" style="background:#eee">
                    <md-toolbar class="md-theme-light app-toolbar" style="z-index:3">
                        <div class="md-toolbar-tools" tabindex="0" layout="horizontal" layout-align="space-between">
                            <div ng-click="toggleLeft()">
                                <md-button>Textchangr</md-button>
                            </div>
                        </div> 
                    </md-toolbar>
                    <md-toolbar class="md-theme-light md-whiteframe-z1">
                        <div class="md-toolbar-tools" ng-controller="tabCtrl" style="margin-bottom: 10px" style="z-index:3">
                            <md-tabs selected="tabs.selectedIndex" layout="horizontal" layout-align="start start">
                                <md-tab label="Offers"></md-tab>
                                <md-tab label="Requests"></md-tab>
                                <md-tab label="Textchanges"></md-tab>
                            </md-tabs>
                        </div>
                    </md-toolbar>
                    <div layout="horizontal" layout-align="end start" ng-controller="addBookCtrl" style="position:relative">
                        <md-button class="md-button-fab md-theme-green" ng-click="dialog($event)" style="position: absolute; right:5%; top: -44px">
                            <md-icon icon="images/plus.svg" style="width: 24px; height: 24px;"></md-icon>
                        </md-button>
                    </div>
                    <md-content ng-controller="BookListCtrl">
                        <md-whiteframe class="md-whiteframe-z1" layout layout-fill style="background: #f9f9f9; z-index:2;">
                            <div class="animate-switch-container" ng-controller="tabCtrl" ng-switch on="tabs.selectedIndex" >
                                <div class="animate-switch"
                                    ng-switch-when="0"
                                    md-swipe-left="next()"
                                    md-swipe-right="previous()"
                                >
                                    <md-list>
                                        <md-item ng-repeat="book in books | orderBy:orderProp | isOffer">
                                            <md-item-content>
                                                <div class="md-tile-left">
                                                    <img ng-src="images/{{book.propertyMap.image}}" class="img">
                                                </div>
                                                <div class="md-tile-content">
                                                    <h3>{{book.propertyMap.title}}</h3>
                                                    <h4>{{book.propertyMap.author}}</h4>
                                                </div>
                                            </md-item-content>
                                            <md-divider ng-if="!$last"></md-divider>
                                        </md-item>
                                    </md-list>

                                </div>
                                <div class="animate-switch"
                                    ng-switch-when="1"
                                    md-swipe-left="next()"
                                    md-swipe-right="previous()"
                                >
                                    <!--<div>
                                        <tf-float label="Search My Books" value="query"></tf-float>
                                        Sort by:
                                        <select ng-model="orderProp">
                                            <option value="title">Alphabetical</option>
                                            <option value="date">Newest</option>
                                            <option value="-age">Oldest</option>
                                        </select>
                                    </div> -->

                                    <md-list>
                                        <md-item ng-repeat="book in books | orderBy:orderProp | isRequest">
                                            <md-item-content>
                                                <div class="md-tile-left">
                                                    <img ng-src="images/{{book.propertyMap.image}}" class="img">
                                                </div>
                                                <div class="md-tile-content">
                                                    <h3>{{book.propertyMap.title}}</h3>
                                                    <h4>{{book.propertyMap.author}}</h4>
                                                </div>
                                            </md-item-content>
                                            <md-divider ng-if="!$last"></md-divider>
                                        </md-item>
                                    </md-list>
                                </div>
                                <div class="animate-switch"
                                    ng-switch-when="3"
                                    md-swipe-left="next()"
                                    md-swipe-right="previous()"
                                >
                                    <md-list>
                                        <md-item ng-repeat="book in books | orderBy:orderProp | isMatch">
                                            <md-item-content>
                                                <div class="md-tile-left">
                                                    <img ng-src="images/{{book.propertyMap.image}}" class="img">
                                                </div>
                                                <div class="md-tile-content">
                                                    <h3>{{book.propertyMap.title}}</h3>
                                                    <h4>{{book.propertyMap.author}}</h4>
                                                </div>
                                            </md-item-content>
                                            <md-divider ng-if="!$last"></md-divider>
                                        </md-item>
                                    </md-list>

                                </div>
                            </div>
                        </md-whiteframe>
                        <div layout-padding>
                        </div>
                    </md-content>

                </div>
            </section>
        </div>
    </div>

    <script src="scripts/google-plus-signin.js"></script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
